css:
  body{
    background-color: #f0f1f7;
  }
.container.mt-4
  .content
    h2 Ubah Profil Saya

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| 
      = f.error_notification

      .form-inputs.row
        br
        .col-lg-3 style="display: inline-block;"
          div id="image-user" onclick="trigger_file();"
            = image_tag current_user.photo.url, height: "200px", label: false, :class=>"card-img-top", :input_html => { :alt => "User Image"}, :id => "img"
          = f.input :photo, as: :file, input_html: {:style => 'opacity:0'}
        .col-lg-8.col-lg-offset-1 style="display: inline-block;"
          = f.input :name, label: 'Nama'
          = f.input :email, required: true, autofocus: true 
          = f.input :phone, as: :tel, label: 'No Telephone' 
          = f.input :address, label: 'Alamat' 
          = f.input :bio, label: 'Biodata', as: :ckeditor

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            p Currently waiting confirmation for: <%= resource.unconfirmed_email

          = f.input :password,
                      hint: "kosongkan bila anda tidak ingin merubah password anda",
                      required: false,
                      input_html: { autocomplete: "new-password" } 
          = f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } 
          = f.input :current_password,
                      hint: "Masukkan password untuk mengubah pengaturan",
                      required: true,
                      input_html: { autocomplete: "current-password" }
          = f.input :subscribed, as: :boolean, label: "Berlangganan newsletter kami" do 
            = f.check_box :subscribed, {:checked=> :subscribed}, "true", "false" 
          .form-actions
            = f.button :submit, "Update Profil", class: "submit-btn"

  .content
    h3 Hapus akun
    p= link_to "Hapus akun saya", registration_path(resource_name), data: { confirm: "Anda yakin?" }, method: :delete, class: "text-danger"

  .content
    = link_to "Kembali", :back
