// $("#search-output-table").html("<%= escape_javascript( render(partial: "table") ) %>");
|
  $("#search-output-table").innerHTML("<%= j(render partial: "table", locals :{campaigns : @campaigns} ) %>");
