$mainColor: #7000c7;
$purpleHover: #7000f7;

html,
body{
	height: 100%;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

.card{
	-webkit-transition: 0.2s;
 	transition: 0.2s;
}
.card:hover{
	border-color: rgb(66,139,202);
	border-width: 1px;
	-webkit-transition: 0.2s;
 	transition: 0.2s;
}

.card-img-top{
	background-color: rgba(0,0,0,0.5);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	max-width: 100%;
	width: auto;
}

.text-purple{
	color: $mainColor !important;
}

.white{
	color: #fff;
}

.pointer{
	cursor: pointer;
}
#donation-table{
  min-height: 75vh;
  height: 75vh;
	max-height: 75vh;
}
.content{
	padding:4vh 2vw;
	margin-bottom: 2vh;
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 5px #ccc;
}
.fixed-content{
	position: sticky;
  top: calc(56px + 1.5rem);
  overflow: auto;
}
.fixed-content::-webkit-scrollbar {
    width: 0.35em;
}
 
.fixed-content::-webkit-scrollbar-track {
}
.fixed-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.btn-report{
	border-radius: 4px;
	padding: 10px 15px;
  background-color: $mainColor;
  color: white;
	transition: 1s all;
}
.btn-report:hover{
  background-color:$purpleHover;
	color: white;
}
.card:hover{
	transition: 0.6s all;
	transform: translateY(-10px);
}
.ssb-icon{
    text-align: center;
    width: 4vh !important;
    height: 4vh !important;
    line-height: calc(4vh + 2px);
    border-radius: 100%;
    margin: 1vh 1vw;
  }

/*
  Style Home
*/


.jumbotron{
	background-image: url("http://localhost:3000/uploads/background.jpg");
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	max-height: 300px;
	min-height: 300px;
	padding: 0em;
}

.jumbotron-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 300px;
	position: relative;
}

.pt{
	padding-top: 100px;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*
  Style Registration
*/

.registration-user{
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #f0f1f7;
}
.registration-box{
  border-radius: 1vw;
  margin: 0 15vw;
  padding: 5vh 2vw;
  background-color: white;
}
.login-form{
  padding: 0vh 2vw;
}
.login-additional-text{
  text-align: center;
  border-radius: 1vw;
  padding: 6vh 2vw;
  left: 16.67%;
  position: relative;
  background-color:$mainColor;
  color: #eee;
}
.submit-btn{
  background-color: $mainColor;
  color:white;
  padding: 1vh 4vw;
}
.submit-btn:hover{
  background-color: $purpleHover;
  color: white;
}
.omniauth-btn{
  background-color: white;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 20px;
  color: #555;
  padding: 1.2vh 2vw;
  transition: .3s all;
}
.omniauth-btn:hover{
  box-shadow: 2px 2px 5px $purpleHover;
}
h1,h2,h3,h4{
  font-weight: bold;
}
ol{
  padding-inline-start: 15px;
}
li{
  padding-bottom: 10px;
}

h5{
  line-height: 1.65;
  letter-spacing: .2px;
}