<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "newsletter", media: "all" %>
    <style>
      .row{
      	justify-content: center;
      }

      .h-100{
      	height: 100%!important;
      }
    </style>
  </head>

  <body class="bg-light">
    <%= yield %>
  </body>
</html>
